
<h1>Directory of Student Pages</h1>

<ul>
  <li><%= link_to 'jfscott80', jfscott80_path %></li>
<li><%= link_to 'codysalerno', codysalerno_path %></li>
<li><%= link_to 'bsiler', '/bsiler.html.erb' %></li>
</ul>
